<div style="padding:150px;">
    <mat-card>
        <mat-card-title>Alterar Travel</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Nome"
                    [(ngModel)]="travel.descripcion" description="description">
            </mat-form-field>
        </form>
        <button mat-raised-button (click)="updateTravel()" color="primary">
            Atualizar
        </button>
        
        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </mat-card>
</div>