<div style="padding:150px;">
    <mat-card>
        <mat-card-title>Alterar Matches</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Nome"
                    [(ngModel)]="matches.localTeam" description="localTeam">
            </mat-form-field>
        </form>
        <button mat-raised-button (click)="updateMatches()" color="primary">
            Atualizar
        </button>
        
        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </mat-card>
</div>